/* Блоки */
$section_color_1: #edf7ff
$section_color_2: white

.detail
  background-color: $section_color_1
  &__photo
  &__photo img
    margin: auto 0
    width: 100%
    max-width: 800px
    height: auto
    border-radius: 15px

